.form1 {
	width: 70vw !important;
	height: 	90vh !important;
	background: #A9A9A9 !important;
	margin: 0 auto;
	color: #fff;
	padding: 5rem;
}
.bread {
	margin-right: 216px !important;
    margin-left: 216px !important;
}