body{
		background:url(images/3.jpg) no-repeat center center fixed;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		text-align:center;
		height: 100%;
	}
    
        
    .navbar-dark .navbar-nav .show>.nav-link {
        color: #ff0002;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }
/* equal card height */
		.row-equal > div[class*='col-'] {
				display: flex;
				flex: 1 0 auto;
		}

		.row-equal .card {
			/* width: 100%; */
		}

		/* ensure equal card height inside carousel */
		.carousel-inner>.row-equal.active, 
		.carousel-inner>.row-equal.next, 
		.carousel-inner>.row-equal.prev {
				display: flex;
		}

		/* prevent flicker during transition */
		.carousel-inner>.row-equal.active.left, 
		.carousel-inner>.row-equal.active.right {
				opacity: 0.5;
				display: flex;
		}


		/* control image height */
		.card-img-top-250 {
				max-height: 100%;
				overflow:hidden;
		}
.logo {
    width:28px;
    height:28px;
    
}
.footer-style {
    margin-bottom: -100px !important;
}
.text-large {
    font-size: 20px !important;
}
    .row-padding {
    padding-left: 70px;
    margin-left: 40px;
    
}
.column {
  float: left;
  width: 16.33%;
  padding: 5px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float:left;
    width: 200px;
     height:350px;
}

div.img img {
    width: 100%;
    height: : 100px;
}
div.desc {
    padding: 15px;
    text-align: : center;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}