
/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
        .footer-style {
    margin-bottom: -100px !important;
}
    .display-3{
        font-size:30px;
    }
}

@media only screen and (min-width: 1023px) {
    .footer-style {
    margin-bottom: -100px !important;
}
    .display-3{
        font-size:30px;
    }
}
/*Small tablets to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px;}
    .img {
        margin-bottom: 80px;
    }
    .btn4 {
        margin-bottom: 80px;
    }
    .footer-style {
    margin-bottom: -100px !important;
}
    .display-3{
        font-size:30px;
    }
}

/* Small phones to small tablets: from 481px to 767px*/
@media only screen and (max-width: 767px) {
        .footer-style {
    margin-bottom: -100px !important;
}
    .display-3{
        font-size:30px;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    jumbotron {
        width: 100% !important;
    }
        .footer-style {
    margin-bottom: -100px !important;
}
    .display-3{
        font-size:30px;
    }
}

