body {
    width: 100%;
    height: 100%;
    background-image: url('images/3.jpg'); 
}
.row {
    margin-left: 50px !important;
    padding-left: 10px !important;
    margin-right: 20px !important;
    
}	


}
.row-padding {
    padding-left: 70px;
    margin-left: 40px;
    
}
.column {
  float: left;
  width: 16.33%;
  padding: 5px;
}

	/* equal card height */
		.row-equal > div[class*='col-'] {
				display: flex;
				flex: 1 0 auto;
		}

		.row-equal .card {
			/* width: 100%; */
		}

		/* ensure equal card height inside carousel */
		.carousel-inner>.row-equal.active, 
		.carousel-inner>.row-equal.next, 
		.carousel-inner>.row-equal.prev {
				display: flex;
		}

		/* prevent flicker during transition */
		.carousel-inner>.row-equal.active.left, 
		.carousel-inner>.row-equal.active.right {
				opacity: 0.5;
				display: flex;
		}


		/* control image height */
		.card-img-top-250 {
				max-height: 100%;
				overflow:hidden;
		}